<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frig-Off</title>
</head>
<body style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/uch7T6arVbs?si=6EcF1P6T0RAJsR8T&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>
</html>